<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="recentFilesCount" value="10" />
    <add key="recentFiles" value="" />
    <add key="relicImageDpi" value="96" />
    
    <!-- Reading values, but use is not implemented yet... -->
    <add key="logTake" value="False" />
    <add key="logPath" value=".\" />
    <add key="logFile" value="RelicIcImageParser.log" />
  </appSettings>
</configuration>